<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
    rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Custom CSS on top of Bootstrap --> 
  <link href="/css/main.css" rel="stylesheet">

  <script language="JavaScript">
    var rand1 = Math.floor(Math.random() * 3);
    images = new Array;
    images[0] = "chicago";
    images[1] = "nyc";
    images[2] = "philadelphia";
      
    var image = '/assets/' + images[rand1];

    if (screen.width <480 || screen.height <480) {
      image += '_vt';
    }
    image += '.jpg';
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right lowercase">
        <li>
          <a title="About me" href="/about">
            about
          </a>
        </li>
        <li>
          <a title="Archive" href="/archive">
            archive
          </a>
        </li>

        <li>
          <a title="Contact" href="/contact">
          contact</a> 
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {{ content }}

  <div id="footer" class="hidden-print">
    <section class="masthead">
      <div class="container" align="center">

        <p>© <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script><noscript>{{ site.time | date: "%Y" }}</noscript> Jiaqi Li.</p>

      </div>
    </section>
  </div>
  {% include analytics.html %}
</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
