---
layout: layout
---

<div class="container post-padder">
  <section class="content">
    <h1>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <section class="byline">
      {{ page.date | date: "%B %e, %Y" }}
    </section>

    {{ content }}
    <div class="pull"></div>
  </section>
  <ul class="post pager">

    {% if page.previous %}
      <li class="previous"><a href="{{page.previous.url}}">&larr; Older: {{ page.previous.title}}</a></li>
    {% else %}
       <li class="previous disabled"><a href="/">&larr; No Older Posts</a></li>
    {% endif %}



      {% if page.next %}
        <li class="next"><a href="{{ page.next.url }}">Newer: {{ page.next.title}} &rarr;</a></li>
       {% else %}
         <li class="next disabled"><a href="">No Newer Posts&rarr;</a></li>
       {% endif %}
     </ul>
</div>
